/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: abel;
  src: url(./assets/fonts/Abel/Abel-Regular.ttf);
}
@font-face {
  font-family: arimo;
  src: url(./assets/fonts/Arimo/Arimo-Regular.ttf);
}
@font-face {
  font-family: caveat;
  src: url(./assets/fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
  font-family: cinzel;
  src: url(./assets/fonts/Cinzel/Cinzel-Regular.ttf);
}
@font-face {
  font-family: cookie;
  src: url(./assets/fonts/Cookie/Cookie-Regular.ttf);
}
@font-face {
  font-family:exo;
  src: url(./assets/fonts/Exo/Exo-Regular.ttf);
}

.login-signup-form {
  width: 100%;
  height: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-signup-form form section {
  margin: 10px;
  margin-left: -90px;
}

.login-signup-form form input {
  border: none;
  padding: 10px;
  width:400px;
  border-radius: 7px;
  border: 1px solid #fff;
}

.login-signup-form form input:focus {
  outline: none;
}

.login-signup-form form .submit {
  width: 400px;
}

.login-signup-form form #error {
  display: none;
}
